/* Global scss */
@use 'transition.scss';

body {
  height: 100%;
  min-width: 1000px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

@font-face {
  font-family: element-icons;
  src: url(fonts/element-icons.woff) format("woff"),
    url(fonts/element-icons.ttf) format("truetype");
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// 项目公共样式
.dashboard-container {
  margin: 30px;

  .container {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 30px 28px;
    border-radius: 4px;

    .table-bar {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;

      .continue {
        border-color: #333333;
        background: #333333;
        color: #ffffff;
      }

      .continue:hover {
        background-color: #999999;
        border-color: #999999;
        color: #ffffff;
      }

      .continue:active {
        background-color: #2a2a2a;
        border-color: #2a2a2a;
        color: #ffffff;
      }
    }

    .table-box {
      width: 100%;
      border: 1px solid #f3f4f7;
      border-bottom: 0;
    }

    .page-list {
      text-align: center;
      margin-top: 30px;
    }

    .normal-btn {
      background: #333333;
      color: #fff;
      margin-left: 20px;
    }
  }
}